<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL2Ek-10mdTT8zmBuYlUgjJn-pk9cCt1k</string>
	<key>GCM_SENDER_ID</key>
	<string>366908729570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DonationApp</string>
	<key>PROJECT_ID</key>
	<string>donation-application-1a674</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-application-1a674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366908729570:ios:9be66bd74f9761525156bb</string>
</dict>
</plist>